<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983394400102-80h1jpathp44b9dc6im8jr33gedsjoip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983394400102-80h1jpathp44b9dc6im8jr33gedsjoip</string>
	<key>API_KEY</key>
	<string>AIzaSyDOLDt2Rl1YWf7H0cPHE7RsgRR71H7t7zk</string>
	<key>GCM_SENDER_ID</key>
	<string>983394400102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motebang.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-69903</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-69903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983394400102:ios:8619150c1d060c13</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershare-69903.firebaseio.com</string>
</dict>
</plist>